body {
  margin: 1rem auto;
  max-width: 50em;
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  flex-flow: column wrap;
}

header {
  flex: 1 100%;
  background-color: #efefef;
  padding: 1rem;
  border-radius: 1rem;
}

form {
  flex: 1 100%;
  padding: 0.25rem;
}

.formRow {
  display: flex;
  flex-flow: column wrap;
  margin-top: 1em;
}

.formRow label {
  flex: 1 100%;
  font-size: 1.1rem;
}

.formRow input, .formRow select {
  flex: 1 100%;
  font-size: 1.1rem;
}

#saveButton {
  font-size: 1.5rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.25rem;
}

.buttonBar {
  display: flex;
  flex-flow: row wrap;
}

#saveButtonLink a {
  font-size: 1.5rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;  
  display: block;
  text-decoration: none;
  text-align: center;
  flex: 1 1 100%;
  width: 20rem;
}

#backButtonLink a {
  font-size: 1.5rem;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.25rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  text-decoration: none;
  text-align: center;
  flex: 1 1 100%;
  width: 20rem;
}

#formValidationError {
  font-size: 1.1rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
}

#confirmTable {
  border-collapse: separate;
  border-spacing: 0.5rem;
}

#confirmTable td {
  padding-right: 3rem;
  border-bottom: 0.1rem dotted grey;
}


#confirmTable tr:nth-child(even) {
  background-color: #e4ebf2;
  color: #000;
}
